html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;

  /* Hide scrollbar (Firefox) */
  scrollbar-width: none;

  /*Keep your scrollbar hidden on Chrome/Safari/Webkit */
  ::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar (IE / Edge legacy) */
  -ms-overflow-style: none;
}
